.CodeBlock {
    font-family: 'Courier New', Courier, monospace;
}

.CodeBlock span {
    display: inline-block;
}

.CodeBlock div {
    display: table;
}

.CodeBlock .indentedBlock {
    margin-left: 1.25em;
     border: 0.10em solid black;
     border-radius: .56em;
     padding: 0.3333em;
     background-color: #ffffff;
}

.CodeBlock .rounded {
    border: 0.10em solid black;
    border-radius: .56em;
    padding: 0.3333em;
}

.CodeBlock .oval {
    border: 0.10em solid black;
    border-radius: 500px;
    padding: 0.25em;
    /* margin: 0.3333em 0; */
}


.CodeBlock .filled {
    border: 0.10em solid black;
    border-radius: .56em;
    padding: 0.3333em;
    background-color: #c7c8ca;
}

.CodeBlock .box {
    border: 0.10em solid black;
    padding: 0.25em;
}

.condition {
    margin-bottom: .3em;
}

.CodeBlock .alt {
    display: none;
}

.CodeBlock .running {
    position: relative;
}

.CodeBlock .runningArrow {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    right: 100;
    top: 50%;
    transform: translateY(-50%) translateX(-.8em);
}

.CodeBlock .errorContainer {
    position: absolute;
}

.CodeBlock .errorText {
    position: relative;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(1em);
}